@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,300;0,900;1,900&family=Neucha&family=Noto+Naskh+Arabic&family=Poppins:wght@300&family=Roboto:wght@300&family=Space+Mono:ital@1&family=Urbanist:wght@100&family=Xanh+Mono:ital@1&display=swap');*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body{
  font-family: 'Noto Naskh Arabic', serif;
  background-color: #f3f6f9;
}

.nav-link{
  text-decoration: none;
  color: #5a5352;
  font-size: 17px;
  margin-right: 5px ;
  padding-top: 20px ;
  font-size: 17px;
}